.side-menu{
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  width: 270px; 
  margin-top: 50px;
  margin-bottom: 100px;
}

.side-menu a{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  text-decoration: none;
  margin-left: 60px;

}

.side-menu .icon-dashboard{
  background-image: url(../assets/images/dashboard-icon.png);
  width: 28px;
  height: 28px;
}


.btn-logout{
  background-color: transparent;
  border: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  margin-left: 60px;
  margin-top: 250px;
  margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {

  .side-menu{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: -20px;
    height: 35vw;
  }
  
  .side-menu a{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: rgba(58, 61, 66, 0.8);
    text-decoration: none;
    margin-left: 60px;
  }
  .side-menu a.transfer{
    display: none;
  }
  .side-menu a.topup{
    display: none;
  }

  .profle{
    position: relative;
    top: -14vw;
  }


  
  .btn-logout{
    display: none;
  }
}